# Core dependencies
fastapi
uvicorn[standard]
streamlit
pandas
numpy
scikit-learn
joblib
matplotlib
seaborn
plotly
altair
opencv-python-headless
Pillow
requests

# Audio processing
# sounddevice dihapus karena sering error di cloud & tidak punya akses hardware
librosa
soundfile

# Deep learning and computer vision
# Menghapus versi spesifik agar pip mencari wheel linux yang cocok
torch
torchvision
face-alignment

# Additional utilities
websockets
paho-mqtt
tqdm
scipy
pyyaml
python-multipart
protobuf