# Core dependencies
fastapi
uvicorn[standard]
streamlit
pandas
numpy
scikit-learn
joblib
matplotlib
seaborn
plotly
altair
opencv-python-headless
Pillow
requests

# Audio processing
# sounddevice dihapus karena sering error di cloud & tidak punya akses hardware
librosa
soundfile
sounddevice

# Deep learning and computer vision
# Menghapus versi spesifik agar pip mencari wheel linux yang cocok
torch
torchvision
face-alignment

# Additional utilities
websockets==12.0
paho-mqtt==1.6.1
tqdm==4.66.1
scipy==1.11.3
pyyaml==6.0.1
python-multipart==0.0.6
protobuf==4.25.1

# For audio format conversion (needs system ffmpeg)
# System dependency: ffmpeg
supabase==1.4.0
python-dotenv==1.0.0